.theme-toggle {
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.theme-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.theme-toggle.theme-dark {
  color: white;
  background-color: transparent;
}

.theme-toggle.theme-dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
