.whatsapp-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-widget-container.in-overlay {
  position: absolute;
  bottom: 0;
  right: 78px;
  z-index: 1260;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .whatsapp-widget-container.in-overlay {
    right: 70px;
  }
}

/* Override some default styles of react-floating-whatsapp */
.whatsapp-widget-container .react-floating-whatsapp {
  font-family: inherit;
}

.whatsapp-widget-container-floating-whats .reactapp-header {
  background-color: #25d366;
}

.whatsapp-widget-container .react-floating-whatsapp-chat-header {
  background-color: #075e54;
}

.whatsapp-widget-container .react-floating-whatsapp-message-text {
  background-color: #dcf8c6;
}
